@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

.wrapper {
  height: 100dvh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
  height: 100%;
  background: url("../assets/background.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(0.5);
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.logo {
  width: 166.5px;
  height: 45px;
  margin-left: 45px;
}

.login {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
  padding: 60px 68px 90px 68px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  max-width: 450px;
}

h1 {
  font-size: 32px;
  margin-bottom: 28px;
  font-weight: 400;
}

.input-box {
  position: relative;
  height: 48px;
  margin-bottom: 18px;
  background-color: #333;
  border-radius: 4px;
}

.form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 16px 20px 0px;
  background: none;
  z-index: 1;
  border: none;
}

.form-label {
  position: absolute;
  left: 16px;
  top: 14px;
  color: #9d9d9d;
  padding: 0 4px;
  font-size: 16px;
  transition: 0.1s;
}

.form-input:focus + .form-label {
  top: 10px;
  left: 16px;
  font-size: 12px;
}

.form-input:focus {
  outline: none;
}

.signin {
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: 24px 0 12px;
  font-size: 16px;
  font-weight: 600;
}

.option {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #9d9d9d;
}

.remember {
  display: flex;
}
.remember > input {
  border: none;
  margin-right: 2px;
  width: 18px;
}

.remember + div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signup {
  margin-top: 60px;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  color: #737373;
}

h5 > a {
  color: white;
  text-decoration: none;
}

h5 > a:hover {
  text-decoration: underline;
}

p {
  margin-top: 12px;
  font-size: 13px;
  color: #8c8c8c;
}

p > a {
  text-decoration: none;
  color: #0071eb;
}

p > a:hover {
  text-decoration: underline;
}
